/* GLOBALS */
:root {
    --inc_color1: #F4B845;
    --inc_color2: #DAA520;
    --brown_text: #312205;
}

.body {
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    margin: 0px;
}

.col {
    padding: 0;
}

.gradient-text {
    background: linear-gradient(90deg, #EBA114, #A67923);
    /* Adjust colors as needed */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}












/* HAMBURGER MENU FOR MOBILE */
.hamburger {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    display: none;
}

.hamburger_button {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
}

.hamburger_button i {
    font-size: 200%;
}

.hamburger_mobile_menu {
    width: 100%;
    height: max-content;
    background-image: url(../img/Rectangle\ 409.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
    padding: 2%;
    display: none;
}

.hamburger_mobile_menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 150%;
    font-weight: 500;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
}














/* HERO SECTION */
.hero {
    width: 100%;
    height: max-content;

}

.header {
    position: relative;
}



/* logo section */
.nav_logo_col {}

.nav_logo_col img {
    width: 60%;
    height: auto;
    padding: 20px;
    margin-left: 10px;
}



/* navigation bar */
.nav_navbar_col {
    padding: 0;
}

.navbar_container {
    width: 100%;
    height: 80%;
    border-radius: 2rem;
    margin-top: 20px;
    padding: 10px;

    background-image: url(../img/Rectangle\ 409.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;

    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 4px 10px 15px 0px #a7a7a7;
    ;

}

.nav_item {
    padding: 3% 4%;
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: #fff;
    font-weight: 500;
}

.nav_item a {
    text-decoration: none;
    color: #ffffff;
}

.nav_active {
    background-image: url(../img/Rectangle\ 430.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
    color: #000 !important;
}

.nav_active a {
    text-decoration: none;
    color: #000 !important;
}



/* social media icons */
.nav_social_col {
    position: relative;
}

.nav_social_container {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/Rectangle\ 409.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;

    width: max-content;
    height: 120px;
    margin-top: 20px;
    padding: 2%;
    font-size: 150%;
    color: #fff;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.nav_social_container a {
    color: #fff;
}

@media (max-width: 768px) {
    .nav_navbar_col {
        display: none;
    }

    .nav_social_col {
        display: none;
    }

    .nav_logo_col img {
        width: 40%;
    }
}









/* HERO SECTION CONTENT*/
.hero-content {
    text-align: center;
    z-index: 1;
}

.hero_content_wrap {
    width: 50%;
    padding-top: 25vh;
    padding-left: 15vh;
    text-align: left;
    line-height: 150%;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--brown_text);
    line-height: 150%;
}

.hero-content p {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--brown_text);
    line-height: 150%;

}

.hero-content .quote-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--inc_color1);
    border: none;
    border-radius: 0.8rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10vh;
    box-shadow: 4px 10px 15px 0px #a7a7a7;
    ;

}

.hero-content .quote-button:hover {
    background-color: #d39b2c;
}

.container-image {
    width: 50%;
    position: absolute;
    top: -100vh;
    /* Start above the viewport */
    right: 20px;
    animation: drop 2s forwards, swing 2s 1s infinite alternate ease-in-out;
    z-index: -1;
}

.container-image img {
    width: 100%;
    /* Adjust size as needed */
    display: block;
    margin: 0 auto;
}

@keyframes drop {
    to {
        top: -10vh;
        /* Adjust based on the desired final position */
    }
}

@keyframes swing {
    0% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}


@media (max-width: 1500px) {
    .hero_content_wrap {
        padding-top: 15vh;
        padding-left: 10vh;
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1100px) {
    .hero_content_wrap {
        padding-top: 10vh;
        padding-left: 5vh;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-content .quote-button {
        margin-top: 5VH;
    }
}

@media (max-width: 768px) {
    .hero_content_wrap {
        background-color: #ffffff9a;
        width: 100%;
        padding-top: 10vh;
        padding-left: 5vh;
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content p {
        font-size: 2rem;
    }

    .container-image {
        width: 100%;
    }

    .container-image img {
        width: 80%;
        /* Adjust size as needed */
        display: block;
        margin: 0 auto;
    }

    .hero-content .quote-button {
        margin-top: 5vh;
    }
}

@media (max-width: 520px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .container-image {
        width: 110%;
    }

    .hero-content .quote-button {
        margin-top: 2vh;
    }
}

@media (max-width: 350px) {
    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .container-image {
        width: 100%;
    }
}













/* ABOUT SECTION */
.home_about {
    width: 100%;
    height: max-content;
}

.about_banner_wrap {
    width: 90%;
    height: max-content;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: var(--inc_color1);
    border-radius: 5rem;
    box-shadow: 4px 10px 15px 0px #a7a7a7;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.about_banner {
    padding: 5%;
    background-image: url(../img/Rectangle\ 409.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
    box-shadow: 4px 10px 15px 0px #000000;
    border-radius: 5rem;
}

.about_banner h2 {
    font-weight: 700;
    color: #000;
}

.about_banner h3 {
    font-weight: 600;
    color: #000;
}

.about_banner p {
    font-weight: 500;
    color: #000;
}

@media (max-width: 768px) {
    .about_banner {
        padding: 10%;
    }
}

.about_sticker {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: max-content;
}

.about_sticker img {
    width: 10%;
}

.about_sticker_text {
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: max-content;
}

.about_sticker_text_item {
    width: 20%;
    text-align: center;
}

.about_sticker_text_item h4 {
    font-weight: bold;
    color: #000;
}

.about_sticker_text_item p {
    color: #000;
    padding-left: 15%;
    padding-right: 15%;
}

.about_bottom_banner {
    width: 100%;
    height: max-content;
}

.about_bottom_banner img {
    width: 100%;
}

@media (max-width: 768px) {
    .about_sticker {
        display: none;
    }

    .about_sticker_text {
        padding-top: 50px;
    }
}








/* ACHIVEMENTS SECTION */
.home_achivements {
    width: 100%;
    height: 400px;
    position: relative;

    background-image: url(../img/rectangle403.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.achivements_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c9c8c84b;
    display: none;
}

.achivements_content {
    width: 100%;
    position: absolute;
    right: 0px;
    top: 30px;
    text-align: center;
}

.achivements_content_counter {
    padding-top: 7%;
}

.achivements_content h2 {
    color: #ffffff;
    font-size: 300%;
    font-weight: 700;
}

.achivements_content p {
    color: #ffffff;
    font-size: 100%;
    font-weight: 500;
}


@media (max-width: 576px) {
    .home_achivements {
        height: 650px;
    }
}







.home_video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    margin: 2%;
}

.home_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3rem;

}











/* SERVICES SECTION */
.home_services {
    background-image: url(../img/home_services_backgound_image.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;

    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_services_heading {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 0%;
    font-size: 300%;
    font-weight: 700;
    color: #000;
}

.home_services_icons {
    width: 100%;
    height: max-content;
    padding: 4%;
}

.home_services_item {
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    margin-bottom: 2%;
    text-align: center;
}

.home_services_item img {
    margin-right: 3%;
}

.home_services button {
    background-image: url(../img/Rectangle\ 409.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;

    box-shadow: 4px 10px 15px 0px #a7a7a7;
    padding: 1% 4%;
    margin-bottom: 2%;
    border-radius: 1rem;

    font-size: 130%;
    font-weight: 600;
    border: none;
    outline: none;
}

.home_contact_head {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.home_contact_head h2 {
    margin-left: 5%;
    font-size: 400%;
}

.home_contact_image {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_contact_image img {
    width: 70%;
    margin-top: 15%;
    margin-bottom: 10%;
}

.home_contact_col2 {
    display: flex;
    justify-content: center;

}

.home_contact_form_container {
    width: 90%;
    border-radius: 1.5rem;
    box-shadow: -20px 18px 11px 2px #7d7d7d;
}

.contact_form {
    width: 100%;
    height: 100%;
    background-color: #1A1A1A;
    border-radius: 1.5rem;
    padding: 8% 3%;
    border: 5px solid var(--inc_color1);
    clip-path: polygon(100% 25%, 100% 100%, 0% 100%, 0% 0%, 75% 0%);

}

.contact_form h2 {
    color: #ffffff;
    font-weight: 700;
    text-shadow: 2px 2px 0px #A67923;
    margin-top: 6%;
    margin-bottom: 8%;
}

.contact_form p {
    color: #7A7A7A;
    margin-bottom: 8%;
}

.cfif {
    width: 100%;
    height: max-content;
    display: flex;
}

.cfif input {
    width: 100%;
    padding: 2%;
    margin: 0.5%;
    border: none;
    outline: none;
}

.contact_form textarea {
    width: 99%;
    border: none;
    outline: none;
    margin: 0.5%;
    padding: 2%;

}

.contact_form button {
    width: 100%;
    padding: 1%;
    border-radius: 2rem;
    background-color: var(--inc_color1);
    border: none;
    outline: none;
    font-weight: 700;
}


.contact_details_bar {
    width: 100%;
    height: max-content;
}

.contact_details_polygon {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(85% 0%, 100% 100%, 0% 100%, 0% 0%);
    background-color: var(--inc_color2);
    display: flex;
    align-items: end;
    justify-content: flex-start;
}

.contact_details_polygon_b {
    width: 99.6%;
    height: 98%;
    clip-path: polygon(85% 0%, 100% 100%, 0% 100%, 0% 0%);
    background-color: #ffffff;
}

.contact_detail_row {
    width: 90%;
    height: 100%;
    padding-top: 6%;
    padding-bottom: 3%;
    padding-left: 2%;
}

.contact_detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact_detail i {
    font-size: 300%;
    padding: 6%;
}

.contact_detail h4 {
    color: var(--inc_color2);
    font-size: 150%;
}

.contact_detail a {
    text-decoration: none;
    color: #000;
    font-size: 80%;
}

.contact_detail_content {
    display: flex;
    flex-direction: column;
}

.contact_dubai_logos {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact_dubai_logos img {
    width: 30%;
}





@media (max-width: 768px) {
    .home_contact_head h2 {
        font-size: 150%;
    }
}

@media (max-width: 576px) {
    .home_services_item img {
        width: 40%;
    }
}


















footer {
    width: 100%;
    height: max-content;

    background-image: url(../img/Rectangle\ 360.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.footer_logo_container {
    width: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer_logo_container img {
    width: 80%;
    height: auto;
}

.footer_logo_container p {
    padding: 4%;
    color: #fff;
    text-align: justify;
}


.footer_link_heading {
    color: #ffffff;
    width: 100%;
    border-bottom: 1px solid var(--inc_color2);
    padding-top: 15%;
}

.footer_links{
    display: flex;
    flex-direction: column;
}
.footer_links a{
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    padding-bottom: 1%;
}

.footer_social_line{
    display: flex;
    align-items: center;
    justify-content: center;
}

.white_horizontal_line{
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.footer_sociall_icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
}
.footer_sociall_icons i{
    color: #fff;
}

.footer_copyright{
    color: #fff;
    font-weight: 200;
    font-size: 80%;
    text-align: center;
}
.footer_copyright a{
    text-decoration: none;
    color: #fff;
}
.footer_copyright p{
    padding: 0.5%;
}







* {
    /* border: 1px solid red; */
    font-family: "Poppins", sans-serif;

}