* {
    /* border: 1px solid red; */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.base_container {
    width: 90% !important;
    margin-top: 20px !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    height: auto;
    padding: 0;
    margin: 0;
}

.base_container_col1 {
    padding: 0 !important;
}

.container {
    width: 100% !important;
    margin-top: 0px !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    background: #fff;
    padding: 20px;
    border-radius: 0.4rem;
    box-shadow: 0 0 20px 11px rgba(0, 0, 0, 0.1);
}

.container img {
    width: 100%;
    height: auto;
}

.featured-image {
    width: 100%;
    height: auto;
}

.post-title {
    font-size: 2em;
    margin: 20px 0;
}

.post-meta {
    color: #777;
    margin-bottom: 20px;
}

.post-content {
    font-size: 1.1em;
}

.post-content img {
    max-width: 100%;
    height: auto;
}

.post-tags {
    margin-top: 20px;
    font-style: italic;
    color: #555;
}

.base_container_col2 h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

.recentpost_card {
    width: 100%;
    height: max-content;
    padding: 3%;
    border-radius: 0.4rem;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.637);

}

.recentpost_card img {
    width: 100%;
    height: auto;
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 100% !important;
    }
}



@media (max-width: 768px) {
    .container {
        padding: 0px !important;
    }
}












/* HAMBURGER MENU FOR MOBILE */
.hamburger {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    display: none;
}

.hamburger_button {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
}

.hamburger_button i {
    font-size: 200%;
}

.hamburger_mobile_menu {
    width: 100%;
    height: max-content;
    background-image: url(../img/Rectangle\ 409.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 2%;
    display: none;
    position: absolute;
    z-index: 10;
    border-radius: 0.8rem;
}

.hamburger_mobile_menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 150%;
    font-weight: 500;
}

.mobile_services_dropdown_container {
    display: none;
    padding-left: 10px;
    /* Indent dropdown items */
}

.mobile_services_dropdown_container a {
    font-size: 130%;
    font-weight: 400;
}

@media (max-width: 920px) {
    .hamburger {
        display: block;
    }
}












/* *****************************                       HOME PAGE CSS           ****************************/


/* HERO SECTION */
.hero {
    width: 100%;
    height: max-content;

}

.header {
    position: relative;
}



/* logo section */
.nav_logo_col {}

.nav_logo_col img {
    width: 60%;
    height: auto;
    padding: 20px;
    margin-left: 10px;
}



/* navigation bar */
.services_dropdown_container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    transition: opacity 1s ease, visibility 1s ease;

}

/* Show the services dropdown on hover */
.nav_services:hover .services_dropdown_container {
    opacity: 1;
    visibility: visible;
    display: block;
}


.nav_navbar_col {
    padding: 0;
}

.navbar_container {
    width: 100%;
    height: 80%;
    border-radius: 2rem;
    margin-top: 20px;
    padding: 10px;

    background-image: url(../img/Rectangle\ 409.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 6px 20px 0px #000000;
}

.nav_main_menu_wrap {
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_item {
    padding: 3% 4%;
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: #fff;
    font-weight: 500;
}

.nav_item a {
    text-decoration: none;
    color: #ffffff;
}

.nav_active {
    background-image: url(../img/Rectangle\ 430.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    color: #000 !important;
}

.nav_active a {
    text-decoration: none;
    color: #000 !important;
}

.services_dropdown {
    width: 60%;
    float: right;
    border-radius: 1rem;
    padding: 2%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-image: url(../img/Rectangle\ 409.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.services_dropdown_items_box {
    width: max-content;
    display: flex;
    flex-direction: column;
}

.services_dropdown_items_box a {
    margin-bottom: 3%;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 90%;
}




.header_contact_button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_contact_button button {
    float: right;
    margin-right: 2%;
    background-color: #ffffff;
    color: #000;
    padding: 2% 5% 2% 5%;
    border: 4px solid var(--inc_color2);
    border-radius: 2rem;
    outline: none;
}






/* social media icons */
.nav_social_col {
    position: relative;
}

.nav_social_container {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/Rectangle\ 409.webp);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;

    width: max-content;
    height: 120px;
    margin-top: 20px;
    padding: 2%;
    font-size: 150%;
    color: #fff;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.nav_social_container a {
    color: #fff;
}

@media (max-width: 920px) {
    .nav_navbar_col {
        display: none;
    }

    .nav_social_col {
        display: none;
    }

    .header_contact_button {
        display: none;
    }

}
















/* FOOTER SECTION */

footer {
    width: 100%;
    height: max-content;

    background-image: url(../img/Rectangle\ 360.webp);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.footer_logo_container {
    width: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer_logo_container img {
    width: 60%;
    height: auto;
}

.footer_logo_container p {
    padding: 4%;
    color: #fff;
    text-align: justify;
}

.footer_quick_links {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.footer_link_heading {
    color: #ffffff;
    width: 100%;
    border-bottom: 1px solid var(--inc_color2);
    padding-top: 15%;
}

.footer_links {
    display: flex;
    flex-direction: column;
}

.footer_links a {
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    padding-bottom: 1%;
}

.footer_social_line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white_horizontal_line {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.footer_sociall_icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
}

.footer_sociall_icons i {
    color: #fff;
}

.footer_copyright {
    color: #fff;
    font-weight: 200;
    font-size: 80%;
    text-align: center;
}

.footer_copyright a {
    text-decoration: none;
    color: #fff;
}

.footer_copyright p {
    padding: 0.5%;
}


@media (max-width: 768px) {
    .footer_quick_links {
        padding-top: 2% !important;
        padding-bottom: 0 !important;
        padding-left: 15% !important;
        padding-right: 15% !important;
    }

    .footer_link_heading {
        padding-top: 2%;
    }

    .footer_sociall_icons {
        padding-top: 4%;
        padding-bottom: 4%;
    }
}


/* whatsapp */


.floating_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}

.contact_icon {
    background-color: #42db87;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #42db87;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
}


.text_icon {
    margin-top: 8px;
    color: #000000;
    font-size: 13px;
}
















.hashtagposts {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    box-shadow: 0 0 10px rgb(0 0 0 / 71%);
    border-radius: 0.3rem;
}

.hashtagpostcontainer {
    width: 100%;
    height: 100%;
    padding: 2%;
}

.hashtagpostcard {
    height: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 71%);
    border-radius: 0.3rem;
    padding: 2%;
}

.hashtagpostcard img {
    width: 100%;
}

.categorypostscontainer {
    margin-top: 1%;
}

.categoryposts {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    box-shadow: 0 0 10px rgb(0 0 0 / 71%);
    border-radius: 0.3rem;
    padding: 2%;
}

.post-preview-card {
    height: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 71%);
    border-radius: 0.3rem;
    padding: 2%;
}

* {
    /* border: 1px solid red; */
}